@import url('https://fonts.googleapis.com/css2?family=Anek+Odia&family=Josefin+Sans:wght@300&family=Prompt:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background: #333333;
}

.sign {
  margin: auto;
  width: 60rem;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 1200px)  {
  .sign {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
}

.sign-element {
  color: #7f8c8d;
  text-decoration: none;
  font-size: 1.8rem;
  transition: 0.5s;
  font-family: 'Anek Odia', sans-serif;
  text-decoration: underline;
}

.sign-element:hover { color: #d8d8d8 }

.daily-videos {
  display: flex;
  color: #7f8c8d;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  gap: 1rem;
}

.daily-videos-h1 {
  font-size: 2rem;
  font-family: 'Prompt', sans-serif;
}

.about {
  color: #576574;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  min-height: 100vh;
  gap: 3rem;
}

.about-h1, .about a {
  font-size: 2.3rem;
  font-family: 'Josefin Sans', sans-serif;
  text-decoration: none;
}

.other {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

@media only screen and (max-width: 1500px)  {
  .other {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }
}